@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

header{
  width:100%;
  height: 100px;
  background: #666666;
  position:fixed;
  z-index: 10000;
}

.logo{
  width: 50%;
  float: left;
  text-align: left;
  line-height: 100px;
}

.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family:"Zalando Sans Expanded", sans-serif;
  color: #eae8d0;
  letter-spacing: 4px;
}

.tabs {
  display:flex;
  font-family:"Zalando Sans Expanded", sans-serif;
  list-style-type: none;
  margin: 0 1px;
  float: right;
  font-size: 20px;
  padding: 0px 10px;
  line-height: 60px;
  letter-spacing: 4px;
  
}

.tab {
  cursor: pointer;
  padding: 20px;
  color: #eae8d0; 
}

.tab.active {
  background-color: #282820;
}

.tab:hover {
  background: #eae8d0;
  color: #282820;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.banner-area{
  background-image: url(https://fcit.usf.edu/matrix/wp-content/uploads/2019/03/CircuitBoard-LtGrey-Wide.jpg);
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 100vh;
  width: 100%;
  position:fixed;
  left: 0;
}

.banner-area:after{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #8493a0;
  opacity: 0.5;
  z-index: -1;
}

.banner-area h2{
  font-family:"Zalando Sans Expanded", sans-serif;
  padding-top: 0.2%;
  font-size: 80px;
  color: #eae8d0; 
}

.content-area{
  width: 90%;
  min-height: 800px;
  position: relative;
  background: #eae8d0;
  top: 300px;
  left: 5%;
}

.content-area h2{
  font-family:"Zalando Sans Expanded", sans-serif;
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  letter-spacing: 4px;
  text-align:left;
  color: #282820;
}

.content-area h3{
  font-family:"Zalando Sans Expanded", sans-serif;
  font-size: 35px;
  margin: 0;
  padding-top: 15px;
  letter-spacing: 4px;
  text-align:left;
  font-weight: 900;
  color: #666666;
}

.content-area p{
  font-family:"Zalando Sans Expanded", sans-serif;
  padding: 2% 0;
  line-height: 5px;
  text-align: justify;
  color: #282820;
}

div.scroll-container {
  background-color: #282820;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
